In [1]:
data <- read.csv('/home/ruidong/Desktop/An_Introd_to-SL_with_r_and_py/data/Advertising.csv')

In [2]:
names(data)

[1] "X"         "TV"        "radio"     "newspaper" "sales"

In [3]:
head(data)

  X TV    radio newspaper sales
1 1 230.1 37.8  69.2      22.1
2 2  44.5 39.3  45.1      10.4
3 3  17.2 45.9  69.3       9.3
4 4 151.5 41.3  58.5      18.5
5 5 180.8 10.8  58.4      12.9
6 6   8.7 48.9  75.0       7.2

In [20]:
data <- data[c('TV', 'radio', 'newspaper', 'sales')]

In [21]:
attach(data)

The following objects are masked from data (pos = 3):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 4):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 5):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 6):

    newspaper, radio, sales, TV

In [22]:
fit <- lm(sales~TV)

In [23]:
summary(fit)

Call:
lm(formula = sales ~ TV)

Residuals:
    Min      1Q  Median      3Q     Max
-8.3860 -1.9545 -0.1913  2.0671  7.2124

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 7.032594   0.457843   15.36   <2e-16 ***
TV          0.047537   0.002691   17.67   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.259 on 198 degrees of freedom
Multiple R-squared:  0.6119,	Adjusted R-squared:  0.6099
F-statistic: 312.1 on 1 and 198 DF,  p-value: < 2.2e-16

# Compute Multiple Linear Model

In [28]:
attach(data)

The following objects are masked from data (pos = 3):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 4):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 5):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 6):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 7):

    newspaper, radio, sales, TV


The following objects are masked from data (pos = 8):

    newspaper, radio, sales, TV

In [31]:
fit2 <- lm(sales~., data)

In [32]:
summary(fit2)

Call:
lm(formula = sales ~ ., data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-8.8277 -0.8908  0.2418  1.1893  2.8292

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  2.938889   0.311908   9.422   <2e-16 ***
TV           0.045765   0.001395  32.809   <2e-16 ***
radio        0.188530   0.008611  21.893   <2e-16 ***
newspaper   -0.001037   0.005871  -0.177     0.86
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.686 on 196 degrees of freedom
Multiple R-squared:  0.8972,	Adjusted R-squared:  0.8956
F-statistic: 570.3 on 3 and 196 DF,  p-value: < 2.2e-16